/*ul>li {
  margin-left: 80px;
  text-align: center;
}*/



 .panel-heading {
    padding: 4px 27px ;
    display: inline-flex;
}

th {
  padding: 0px 120px 0 0!important;
  text-align: left;
  display: inline-flex;

}
