<div class="container">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <div class="panel-title" style="none">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: left" ng-transclude></div>
    </div>
  </script>


  <uib-accordion close-others = "true">

    <button class="btn btn-primary" id="inputButton" ng-click="ac.addClient(ac.newClient)">New Client</button>
    <table class="table">
      <thead>
        <tr>
          <th ng-click="column='name'">Name ⧗</th>
          <th ng-click="column='email'">Email ⧗</th>
          <th ng-click="column='phone'">Phone ⧗</th>
          <th ng-click="column='address'">Address ⧗</th>
        </tr>
      </thead>
    </table>
    <div uib-accordion-group ng-init="status.open = $first"  is-open="status.open"  class="panel-default" ng-repeat="client in  (ac.clients.list|orderBy:column|emptyToStart:'name')" aria-expanded="false" template-url="group-template.html">

      <!-- style="overflow-y: hidden" -->
      <uib-accordion-heading>
        <table class="table" align="center">
          <tbody>
            <tr>
              <td><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></td>
              <td class="col-xs-3" scope="row"> {{client.name}}</td>
              <td class="col-xs-3" scope="row">{{client.email}}</td>
              <td class="col-xs-3"scope="row">{{client.phone}}</td>
              <td class="col-xs-3" scope="row">{{client.address}}</td>
            </tr>
          </tbody>
        </table>
      </uib-accordion-heading>
      <form>
        <div class="form-group">
          <div class="col-xs-4">
            <label for="ex1">Name:</label>
            <input ng-model="client.name" class="form-control" id="ex1" type="text">
          </div>
          <div class="col-xs-4">
            <label for="ex2">Email:</label>
            <input ng-model="client.email" class="form-control" id="ex2" type="text">
          </div>
          <div class="col-xs-4">
            <label for="ex3">Phone:</label>
            <input ng-model="client.phone" class="form-control" id="ex3" type="text">
          </div>
          <div class="col-xs-8">
            <label for="ex2">Address:</label>
            <input ng-model="client.address" class="form-control" id="ex2" type="text">
          </div>
          <div class="col-xs-4">
            <label for="ex3">Notes:</label>
            <input ng-model="client.notes" class="form-control" id="ex3" type="text">
          </div>
        </div><!-- end form group -->
      </form>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-danger" type="button" ng-click="ac.deleteClient(client.id)">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="ac.saveClient(client)">Save</button>
      </div>

    </div>



  </uib-accordion>
</div>
