<div class="container">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <div class="panel-title" style="none">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: left" ng-transclude></div>
    </div>
  </script>


  <!-- <input sweetalert sweet-options="{title: 'Are you sure?',text: 'You will not be able to recover this imaginary file!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes, delete it!',cancelButtonText: 'No, cancel plx!'}" sweet-confirm-option="{title: 'Deleted!',text: 'Your imaginary file has been deleted.',type: 'success'}" sweet-cancel-option="{title: 'Cancelled!',text: 'Your imaginary file is safe',type: 'error'}" type="submit" name="login-submit" sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm()" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
  <a href="" sweetalert sweet-options="{{sweet.option}}" sweet-confirm-option="{{sweet.confirm}}" sweet-cancel-option="{{sweet.cancel}}"   sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm()"  class="btn" >Try It</a> -->




  <uib-accordion close-others = "true">

    <button class="btn btn-primary" id="inputButton" ng-click="jc.addJob(ac.newJob)">New Job</button>
    <table class="table">
      <thead>
        <tr>
          <th ng-click="column='client_id'">Client ⧗</th>
          <th ng-click="column='status'">Status ⧗</th>
          <th ng-click="column='date'">Date ⧗</th>
          <th ng-click="column='total_cost'">Total Cost ⧗</th>
          <th ng-click="column='id'">Job # ⧗</th>
        </tr>
      </thead>
    </table>
    <div uib-accordion-group ng-init="status.open = $first"  is-open="status.open"  class="panel-default" ng-repeat="job in  (jc.jobs.list|orderBy:column|emptyToStart:'name')" aria-expanded="false" template-url="group-template.html">

      <!-- style="overflow-y: hidden" -->
      <uib-accordion-heading>
        <table class="table" align="center">
          <tbody>
            <tr>
              <td><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></td>
              <td class="col-xs-3" scope="row"> {{job.client_id}}</td>
              <td class="col-xs-3" scope="row">{{job.status}}</td>
              <td class="col-xs-3"scope="row">{{job.date}}</td>
              <td class="col-xs-3" scope="row">{{job.total_cost}}</td>
              <td class="col-xs-3" scope="row">{{job.id}}</td>
            </tr>
          </tbody>
        </table>
      </uib-accordion-heading>
      <form>
        <div class="form-group">
          <div class="col-xs-1">
            <label for="ex1">Task 1:</label>
            <input ng-model="job.task_1" class="form-control" id="ex1" type="text">
          </div>
          <div class="col-xs-10">
            <label for="ex2">Task_2:</label>
            <input ng-model="job.task_2" class="form-control" id="ex2" type="text">
          </div>
          <div class="col-xs-4">
            <label for="ex3">Tasks $:</label>
            <input ng-model="job.tasks_cost" class="form-control" id="ex3" type="text">
          </div>
          <div class="col-xs-10">
            <label for="ex2">Address:</label>
            <input ng-model="job.address" class="form-control" id="ex2" type="text">
          </div>
          <div class="col-xs-4">
            <label for="ex3">Notes:</label>
            <input ng-model="job.notes" class="form-control" id="ex3" type="text">
          </div>
        </div><!-- end form group -->
      </form>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-danger" type="button" ng-click="jc.deleteJob(job.id)">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="jc.saveJob(job)">Save</button>
      </div>

    </div>



  </uib-accordion>
</div>
