<div class="container">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <div class="panel-title" style="none">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            <!-- {{heading}} -->
          </span>
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse"  uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: left" ng-transclude></div>
    </div>
  </script>

  <uib-accordion close-others = "true">
    <button class="btn btn-primary" id="inputButton" ng-click="jc.addJob(ac.newJob)">New Job</button>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-2"ng-click="jc.columnSort('date')">Quote Date ⇅</th>
          <th class="col-xs-2" ng-click="jc.columnSort('status')">Status ⇅</th>
          <th class="col-xs-2" ng-click="jc.columnSort('jc.jobs.list.name')">Client ⇅</th>
          <th class="col-xs-2"ng-click="jc.columnSort('total_cost')">Total Cost ⇅</th>
          <th class="col-xs-2" ng-click="jc.columnSort('id')">Job # ⇅</th>
        </tr>
      </thead>
    </table>

    <!-- ng-init="status.open = $first"  -->
    <!-- ng-init="status.open = true"  -->
    <!-- ng-repeat="job in (jc.jobs.list|orderBy:jc.columnField:jc.reverse|emptyToStart:'name')" -->
    <!-- is-open="job.id == jc.expandJob -->
    <!-- ng-click="linkClick(job.id) -->
    <div uib-accordion-group  ng-init="status.open = job.id == jc.expandJob " is-open="status.open" class="panel-default" ng-repeat="job in (jc.jobs.list|orderBy:jc.columnField:jc.reverse|emptyToStart:'name')" aria-expanded="false" template-url="group-template.html">

      <div class="panel-heading">
        <uib-accordion-heading>
          <table class="table" align="center">
            <tbody>
              <tr id="thead-space">
                <td align="left"><i id="gylphicon" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></td>
                <td class="col-xs-2"scope="row">{{job.date | date: "mediumDate"}}</td>
                <td class="col-xs-2" scope="row">{{job.status}}</td>
                <td class="col-xs-2" scope="row"> {{job.name}}</td>
                <td class="col-xs-2" scope="row">{{job.total_cost | currency:"$"}}</td>
                <td class="col-xs-2" scope="row">{{job.id}}</td>
                <td class="col-xs-2"></td>
              </tr>
            </tbody>
          </table>
        </uib-accordion-heading>
      </div>

      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <div class="form-group">
              <label for="ex1">Client: </label>
              <select class="form-control" ng-model="job.client_id"
              ng-options="client.id as client.name for client in jc.clients.list">
              <option value="">Please select client name</option>
            </select>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label for="ex1">Status :</label><br>
            <select class="form-control" ng-model="job.status">
              <option value="">Please select status</option>
              <option value="quote">Quote</option>
              <option value="active">Active</option>
              <option value="cancelled">Cancelled</option>
              <option value="complete">Complete</option>
            </select>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label for="ex7">Quote Date:</label>
            <input ng-model="job.date" class="form-control" id="ex7" value="job.date" type="date">
          </div>
        </div>

        <div class="col-xs-10">
          <div class="form-group">
            <label for="ex1">Task 1:</label>
            <input ng-model="job.task_1" class="form-control" id="ex1" type="text">
          </div>
        </div>

        <div class="col-xs-10">
          <div class="form-group">
            <label for="ex2">Task 2:</label>
            <input ng-model="job.task_2" class="form-control" id="ex2" type="text">
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <label for="ex3">Labor Costs:</label>
            <input ng-model="job.tasks_cost" class="form-control" id="ex3" type="number" ng-change="jc.updateTaskTotal(job)">
          </div>
        </div>

        <div class="col-xs-10">
          <div class="form-group">
            <label for="ex4">Materials:</label>
            <input ng-model="job.materials" class="form-control" id="ex4" type="text">
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <label for="ex5">Materials Cost:</label>
            <input ng-model="job.materials_cost" class="form-control" id="ex5" type="number" ng-change="jc.updateTaskTotal(job)">
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <label for="ex6">Total $:</label>
            <input ng-model="job.total_cost" class="form-control" id="ex6" type="number">
          </div>
        </div>



        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="email" class="btn btn-default glyphicon glyphicon-envelope" type="button" ng-click="jc.emailJobstoClient(job.id)"></button>
          <button class="btn btn-danger" type="button" ng-click="jc.deleteJob(job.id)">Delete</button>
          <button class="btn btn-primary" type="button" ng-click="jc.saveJob(job)">Save</button>
        </div>
      </div><!-- end form group -->
    </form>
  </div>


</uib-accordion>
</div>
